body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f4f4f4;
    color:#222;
}

header{
    background:#003366;
    color:white;
    padding:20px;
    text-align:center;
}

nav{
    background:#0055aa;
    padding:10px;
    text-align:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin:10px;
    font-weight:bold;
}

section{
    padding:20px;
}

h2{
    color:#003366;
}

.btn{
    display:inline-block;
    background:#00aa55;
    color:white;
    padding:12px 20px;
    border-radius:8px;
    text-decoration:none;
    margin-top:10px;
}

.gallery img{
    width:100%;
    border-radius:10px;
    margin-top:10px;
}

footer{
    background:#003366;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:20px;
}

nav{
    background:#003366;
    padding:15px;
    text-align:center;
}

nav ul{
    list-style:none;
    margin:0;
    padding:0;
}

nav ul li{
    display:inline-block;
    margin:0 10px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-size:18px;
    font-weight:bold;
    transition:0.3s;
}

nav ul li a:hover{
    color:#00ff99;
}

.hero{
    background:linear-gradient(rgba(0,0,0,0.6),
    rgba(0,0,0,0.6)),
    url('https://images.unsplash.com/photo-1506744038136-46273834b3fb');

    background-size:cover;
    background-position:center;
    color:white;
    text-align:center;
    padding:120px 20px;
}

.hero h1{
    font-size:45px;
    margin-bottom:10px;
}

.hero p{
    font-size:20px;
    margin-bottom:20px;
}

.btn{
    display:inline-block;
    background:#00aa55;
    color:white;
    padding:14px 25px;
    border-radius:10px;
    text-decoration:none;
    font-weight:bold;
}

.service-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    margin-top:30px;
}

.card{
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.card h3{
    color:#003366;
    margin-bottom:10px;
}

.card p{
    color:#555;
}

.card i{
    color:#00aa55;
    margin-right:10px;
    font-size:22px;
}